html {
  scroll-behavior: smooth;

}

.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  height: 100%;
}

.item1 {
  background: none;
  height: 30px;
  grid-column: 1 / 3;

}


.item2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  padding: 3%;
  height: 700px;

}

/* for the text TTT*/
.br {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: start;
  font-size: 80px;
  margin: 0;
  transform: scale(2);

  animation: textShrink 1.2s ease forwards;
}

@keyframes textShrink {
  100% {
    transform: scale(1);

  }
}


.left-text {
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
  align-self: end;
  text-align: left;
  font-size: 13px;
}

.right-text {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  align-self: end;
  text-align: right;
  font-size: 13px;
}




.item3 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.item3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: translateY(100%);
  animation: up 1.2s ease forwards;
}

@keyframes up {
  100% {
    transform: translateY(0);
  }
}


.item4 {
  position: relative;
  grid-column: 1 / 3;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.item4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 38px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  width: 90%;
  z-index: 20;
}

.about-text span {
  font-size: 18px;
  font-weight: normal;
  opacity: 0.9;
}



.container2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  height: 100%;
  margin: -2%;

}

.item5 {
  height: 400px;
  background-color: rgb(0, 0, 0);
  grid-column: 1 / 3;
  width: 100%;
}

.contact {
  position: absolute;
  color: white;
  font-weight: bold;
  z-index: 20;
  padding-top: 4%;
  padding-left: 4%;
  font-size: 28px;
}

.contact span {
  font-size: 15px;
  font-weight: normal;
}


.menu {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px 0;
  margin: 2%;
  font-size: 16px;
  z-index: 9999;
}


.menu2 {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 30px;
  color: black;
}

.menua {
  color: black;
  text-decoration: none;
  position: relative;
}

.menua:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background: rgb(7, 6, 6);
  transition: 0.4s;


}

.menua:hover::after {
  width: 100%;
}

.menu2 a {
  color: black;
  text-decoration: none;

}

.menu2 a[href="index.html"] {
  color: gray;
}


body {
  margin: 2%;
}

.menu a {
  color: black;
  text-decoration: none;

}

.logo {
  text-decoration: none;
  color: black;
  transition: 1s;
  font-style: normal;
}

.logo a:hover {
  color: gray;
}

.hamburger {
  display: none;
}


.contact a[href="mailto:shubham@example.com"] {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {

  .menu2 {
    display: none;
  }

  .menua {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .container2 {
    grid-template-columns: 1fr;
  }

  .logo {
    font-size: smaller;
  }

  .hamburger {
    display: block;
    align-items: end;
    padding-right: 80px;
  }

  .br {
    font-size: large;
  }

  .left-text {
    justify-self: start;
    text-align: left;
    font-size: 10px;
    padding: 0;
    margin: 0;
  }

  .right-text {
    justify-self: end;

    text-align: right;
    font-size: 10px;
    padding: 0;
    margin: 0;
  }

  .item2 {
    height: 100px;
    ;
    background-color: rgb(224, 202, 227);
  }

  .item3 {
    grid-column: 1;
    width: 100%;
    height: 350px;
  }

  .item3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}