body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: black;
  color: white;
  gap: 20px;

  transform: translateY(900px);
  animation: slidePageUp 0.8s forwards;
}

a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

@keyframes slidePageUp {
  to {
    transform: translateY(0);
  }
}
