body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background: black;
      color: white;
      gap: 20px;
    }
a {
      color: white;
      text-decoration: none;
      font-size: 22px;
      font-weight: bold;
    }
body {
  transform: translateY(900px); 
  animation: slidePageUp 0.8s forwards;
}

@keyframes slidePageUp {
  100% {
    transform: translateY(0); 
  }
}
