.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100%;
}

.item1 {
    height: 30px;
    grid-column: 1 / 3;
}


.item22 {
    height: 500px;
    grid-column: 1 / 3;
}

.item22 img,
.item33 img,
.item44 img,
.item55 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.item33 {
    height: 400px;
    grid-column: 1 / 2;
}

.item44 {
    height: 400px;
}

.item55 {
    height: 400px;
    grid-column: 1 / 3;
}

/* menu */
.menu2 a[href="project.html"] {
    color: gray;
}

/* navigation */
.menu {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px 0;
    margin: 2%;
    font-size: 16px;
    z-index: 9999;
}

.menu2 {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 30px;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menua {
    position: relative;
}

.menua::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background: black;
    transition: 0.4s;
}

.menua:hover::after {
    width: 100%;
}

.logo {
    color: black;
    font-style: normal;
    transition: 1s;
}

.logo a:hover {
    color: gray;
}

body {
    margin: 2%;
}

.hamburger {
    display: none;
}

/* MOBILE */
@media (max-width: 768px) {
    .menu2,
    .menua {
        display: none;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .hamburger {
        display: block;
        padding-right: 80px;
    }

    .logo {
        font-size: smaller;
    }
}
