.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    height: 100%;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3; 
    height: 60px;
     background-color: aqua;
}

.item22 {
    height: 700px;
    background-color: lightcoral; 
    grid-column: 1/3;
}

.item33{
    background-color: rgb(156, 189, 5);
    grid-column: 1/3;
      height: 700px;
}
   


.item44{
     height: 700px;
    background-color: rgb(9, 139, 139);
    grid-column: 1/3;
    

}



.item55{
     height: 700px;
    background-color: rgb(50, 39, 39); 
     grid-column: 1/3;
}

 .item66{
     height: 700px;
    background-color: rgba(126, 61, 61, 0.836); 
     grid-column: 1/3;
}

.item77{
   height: 700px;
   background-color: black;
   grid-column: 1/3;

}
    
.menu {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    align-items: center;
    width: 100%;
    
}


.menu2 {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 40px;
}
