.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    height: 100%;
}

.item1 {
    background: none;     
  height: 25px;          
  grid-column: 1 / 3;
}

.item22 {
    height: 700px;
    background-color: lightcoral; 
    grid-column: 1/3;
}

.item33{
    background-color: rgb(156, 189, 5);
    grid-column: 1/3;
      height: 700px;
}
.menu2 a[href="project.html"] {
  color: gray;
}
   


.item44{
     height: 700px;
    background-color: rgb(9, 139, 139);
    grid-column: 1/3;
    

}



.item55{
     height: 700px;
    background-color: rgb(50, 39, 39); 
     grid-column: 1/3;
}

 .item66{
     height: 700px;
    background-color: rgba(126, 61, 61, 0.836); 
     grid-column: 1/3;
}

.item77{
   height: 700px;
   background-color: black;
   grid-column: 1/3;

}
    
.menu {
      display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    width: 100%; 
   position: fixed;
   top: 0;
    width: 100%;
   padding: 8px 0;
   margin: 2%;
   font-size: 12px; 
}


.menu2 {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 30px;
    
    color: black;
}



.menua {
    position: relative;
}

.menua::after{
    content: "";
    left: 0;
    width: 0%;
    height: 1px;
    position: absolute;
    transition: 0.4s;
    bottom: -3px;
    background: black;
}


.menua:hover::after{
    width: 100%;
}

.menu2 a{
    color: black;
    text-decoration: none;

}

.menu a{
    color: black;
    text-decoration: none;

}

body{
    margin: 2%;
}