.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    height: 100%;
}

.item1 {
    height: 25px;
    grid-column: 1 / 3;
}


.menu {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px 0;
    margin: 2%;
    font-size: 16px;
    z-index: 9999;
}

.menu2 {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 30px;
}

.menu2 a[href="report.html"] {
    color: gray;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menua {
    position: relative;
}

.menua::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background: black;
    transition: 0.4s;
}

.menua:hover::after {
    width: 100%;
}


.logo {
    color: black;
    font-style: normal;
    transition: 1s;
}

.logo a:hover {
    color: gray;
}

body {
    margin: 2%;
}

.hamburger {
    display: none;
}




.report {
    max-width: 900px;
    margin: 120px auto;
    padding: 10px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.report h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: larger;
}

.report section {
    margin-bottom: 30px;
    font-size: medium;
}

.report h2 {
    margin-bottom: 10px;
}



@media (max-width: 768px) {


    .menua {
        display: none;
    }

    .menu2 {
        display: none;
    }


    .container {
        grid-template-columns: 1fr;
    }

    .hamburger {
        display: block;
        padding-right: 80px;
    }

    .logo {
        font-size: smaller;
    }
}

.report h1 {
    font-size: medium;
}

.report section {
    font-size: small;
}

.report h2 {
    font-size: small;
}