.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr   1fr;
    gap: 10px;
    height: 100%;
}

.item1 {
  background: none;     
  height: 25px;          
  grid-column: 1 / 3;
 
}


.item2 {
    height: 700px;
    background-color: lightcoral; 
}

.item3 {
  position: relative;  
  width: 100%;
  height: 100%;
  overflow: hidden;     
}

.item3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
  display: block;
}

.item4{
     height: 1000px;
    background-color: azure;
    grid-column: 1/3;

}


.container2{
    display: grid;
    grid-template-columns:1fr 2fr;
    gap: 10px;
    height: 100%;

}
.item5{
     height: 700px;
    background-color: rgb(50, 39, 39); 
}

 .item6{
     height: 700px;
    background-color: rgba(126, 61, 61, 0.836); 
}

.item7{
   height: 700px;
   background-color: black;
   grid-column: 1/3;
}
    
.menu {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    width: 100%; 
   position: fixed;
   top: 0;
    width: 100%;
   padding: 8px 0;
   margin: 2%;
   font-size: 12px;
   

    
}


.menu2 {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 30px;
    color: black;
}

.menua {
  color: black;
  text-decoration: none;
  position: relative;
}

.menua:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background: rgb(7, 6, 6);
  transition: 0.4s;
  
  
}

.menua:hover::after {
  width: 100%;
}

.menu2 a{
    color: black;
    text-decoration: none;

}

.menu2 a[href="index.html"] {
  color: gray;
}


body {
    margin: 2%;
}

