.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr   1fr;
    gap: 10px;
    height: 100%;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3; 
    height: 90px;
     background-color: aqua;
}

.item2 {
    height: 700px;
    background-color: lightcoral; 
}

.item3{
    
    background-color: rgb(156, 189, 5);
   

}
.item4{
     height: 1000px;
    background-color: azure;
    grid-column: 1/3;

}


.container2{
    display: grid;
    grid-template-columns:1fr 2fr;
    gap: 10px;
    height: 100%;

}
.item5{
     height: 700px;
    background-color: rgb(50, 39, 39); 
}

 .item6{
     height: 700px;
    background-color: rgba(126, 61, 61, 0.836); 
}

.item7{
   height: 700px;
   background-color: black;
   grid-column: 1/3;
}
    
.menu{
    display: flex;
    justify-content: space-evenly;
    
}

 